.popularmen{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
    height: 80vh;
    width: 100%;
    padding:40px;
}

.popularmen h1{
    color: rgb(142 127 142);
    font-size: 40px;
    font-weight: 500;
}

.popularmen hr{
    width: 424px;
    height: 2px;
    border-radius: 5px;
    background-color: #30ecfd;
}

.popularmen_item{
    display: flex;
    margin-top: 60px;
}

.popularmen image{
    width: 100px;
    height: 100px;
}